@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Poppins:700');

body	{
	font-family: 'Droid Serif', serif;
	font-size: 20px;
	text-align: center;
	font-color: #191919; 
}

header{
	padding: 3.5em;
}

h1, h2	{
	font-family: 'Poppins', sans-serif;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h1 {
	font-size: 3em;
	color: #067778;
}

h2	{
	font-size: 2em;
}

article {
	padding: 1em;
}

p {
	line-height: 1.5em;
	width: 30em;
	margin: 2em auto;
}


a {
	text-decoration: none;
	padding-bottom: 1px;
	color: #191919;
}

a:hover {
	color: gray;
}

hr	{	
	border:none;
	height:3px;
	background-color: #000;
	width: 10em;
	margin: 1em auto;
}

ul {
list-style-type: none;
}

/*
footer {
	font-size: 0.75em;
	background-color: gray;	
	position: fixed;
 	bottom:0;
 	left:0;
 	right: 0;
 	color: black;
	text-align: center;
}*/

.wrapper {
	width: 100%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#hr-intro {	
	width: 20em;
}

#intro {
	background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.6)),url(../images/img_6215.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 80vh;
}

#profile-img {
	border-radius: 50%;
	height: 15em;
	width: 15em;
	float: left;
	margin: 1.5em 0em 0em 13em; 
}

#bio {
	float: right; 
	margin: 3em 13em 0 0;
	width: 20em; 
}

#contact{
	padding: 1em;
	background-color: #7F7B79;
}

#work {
	clear:both;
	background-color: #067778;
}

